
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503624850149'); /* IE9*/
  src: url('iconfont.eot?t=1503624850149#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503624850149') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503624850149') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503624850149#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e60e"; }

.icon-tuichu:before { content: "\e627"; }

.icon-shouye:before { content: "\e604"; }

.icon-cunchu:before { content: "\e656"; }

.icon-fujian:before { content: "\e63b"; }

.icon-yonghu:before { content: "\e606"; }

.icon-zhongzhi:before { content: "\e67c"; }

.icon-pchuizong:before { content: "\e664"; }

.icon-shoucang1:before { content: "\e610"; }

.icon-yulan:before { content: "\e616"; }

.icon-collapsed:before { content: "\e624"; }

.icon-mendian:before { content: "\e762"; }

.icon-jizhang:before { content: "\e629"; }

.icon-cdingdan:before { content: "\e709"; }

.icon-360:before { content: "\e62c"; }

.icon-dayin:before { content: "\e636"; }

.icon-peixun:before { content: "\e657"; }

.icon-rhuizong:before { content: "\e7e7"; }

.icon-huishou:before { content: "\e637"; }

.icon-cuxiao:before { content: "\e647"; }

.icon-pdf:before { content: "\e619"; }

.icon-access:before { content: "\e651"; }

.icon-shenhe:before { content: "\e6f1"; }

.icon-jifen:before { content: "\e65b"; }

.icon-tongbu:before { content: "\e70c"; }
/*删除*/
.icon-shanchu:before { content: "\e615"; }

.icon-yxiaoshou:before { content: "\e70d"; }

.icon-zip:before { content: "\e61a"; }

.icon-zidong:before { content: "\e67b"; }

.icon-quxiao:before { content: "\e60f"; }

.icon-youjiantou:before { content: "\e600"; }

.icon-fanshen:before { content: "\e62d"; }

.icon-shujujiekou:before { content: "\e77d"; }

.icon-tiaojiadan:before { content: "\e665"; }

.icon-supplier:before { content: "\e607"; }

.icon-jilu:before { content: "\e640"; }

.icon-tuihuo:before { content: "\e638"; }

.icon-zyjilu:before { content: "\e66b"; }

.icon-word:before { content: "\e61b"; }

.icon-excel:before { content: "\e61c"; }

.icon-arrow:before { content: "\e605"; }

.icon-yhuizong:before { content: "\e666"; }

.icon-expanded:before { content: "\e61f"; }

.icon-yanghu:before { content: "\e65e"; }

.icon-allyanshou:before { content: "\e8ec"; }

.icon-dphuizong:before { content: "\e91c"; }

.icon-xinxi:before { content: "\e6bb"; }

.icon-fanhui:before { content: "\e626"; }

.icon-xitongguanli:before { content: "\e69b"; }

.icon-weixin:before { content: "\e66f"; }

.icon-period:before { content: "\e675"; }

.icon-sdkgongju:before { content: "\e684"; }

.icon-8:before { content: "\e613"; }

.icon-shangpin1:before { content: "\e62e"; }

.icon-baocun:before { content: "\e60b"; }

.icon-cxiaoshou:before { content: "\e64e"; }

.icon-tyanshou:before { content: "\e677"; }

.icon-iconfonthaitaobi:before { content: "\e601"; }

.icon-gsp:before { content: "\e625"; }

.icon-jchuizong:before { content: "\e6fb"; }

.icon-xiaoshoucc:before { content: "\e667"; }

.icon-open:before { content: "\e603"; }

.icon-yuangongguanli:before { content: "\e6af"; }
/*销毁*/
.icon-xiaohui:before { content: "\e678"; }

.icon-ruku:before { content: "\e620"; }

.icon-cgtuihuo:before { content: "\e658"; }

.icon-jilu1:before { content: "\e679"; }

.icon-shebei:before { content: "\e6bc"; }

.icon-huojiachenlie:before { content: "\e659"; }

.icon-oyanshou:before { content: "\e8e5"; }

.icon-xinzeng:before { content: "\e617"; }

.icon-u-arrow3-left:before { content: "\e68d"; }

.icon-u-arrow3-right:before { content: "\e68e"; }

.icon-goods:before { content: "\e631"; }

.icon-pinzhong:before { content: "\e648"; }

.icon-yaofang2:before { content: "\e8ca"; }

.icon-4:before { content: "\e701"; }

.icon-jisuan:before { content: "\e63c"; }

.icon-1yaowang:before { content: "\e62f"; }

.icon-chaxun:before { content: "\e614"; }

.icon-kchuizong:before { content: "\e683"; }

.icon-xiajia:before { content: "\e671"; }

.icon-file:before { content: "\e61d"; }

.icon-huiyuan:before { content: "\e61e"; }

.icon-jiekouguanli:before { content: "\e623"; }

.icon-post:before { content: "\e639"; }

.icon-zyyinp:before { content: "\e65c"; }

.icon-xiaoshou1:before { content: "\e64f"; }

.icon-quanping:before { content: "\e643"; }

.icon-gengxin:before { content: "\e646"; }

.icon-fukuan:before { content: "\e649"; }

.icon-cyaopin:before { content: "\e661"; }

.icon-chailingdan:before { content: "\e60d"; }

.icon-zhifubao:before { content: "\e668"; }

.icon-jiankang:before { content: "\e65a"; }

.icon-shenqing:before { content: "\e77f"; }

.icon-forward:before { content: "\e6a2"; }

.icon-backward:before { content: "\e6a3"; }

.icon-jingdong:before { content: "\e630"; }

.icon-yanshou:before { content: "\e64a"; }

.icon-dengji:before { content: "\e67a"; }

.icon-butongbu:before { content: "\e672"; }

.icon-chufang:before { content: "\e64b"; }

.icon-jilu2:before { content: "\e67e"; }

.icon-suoding:before { content: "\e6b2"; }

.icon-jiesuo:before { content: "\e6b3"; }

.icon-baobiao:before { content: "\e622"; }

.icon-jilu2-copy-copy:before { content: "\e67f"; }

.icon-syqiye:before { content: "\e64c"; }

.icon-cshouhuo:before { content: "\e65d"; }

.icon-mingxi:before { content: "\e63f"; }

.icon-artboard:before { content: "\e633"; }

.icon-caigou:before { content: "\e6ca"; }

.icon-wendu:before { content: "\e65f"; }

.icon-fahuo:before { content: "\e67d"; }

.icon-dangrixiaoshoue:before { content: "\e611"; }

.icon-daoru:before { content: "\e60a"; }

.icon-gongyingshang:before { content: "\e63d"; }

.icon-tuichuquanping:before { content: "\e645"; }

.icon-kucun:before { content: "\e612"; }

.icon-kehu:before { content: "\e6f3"; }

.icon-kaifa:before { content: "\e6be"; }

.icon-caigoudingdan:before { content: "\e63e"; }

.icon-shangpinshenpi:before { content: "\e62b"; }

.icon-api:before { content: "\e670"; }

.icon-zizhuxiadan:before { content: "\e63a"; }

.icon-pot:before { content: "\e66c"; }

.icon-xiaoshoucf:before { content: "\e6b1"; }

.icon-qingkong:before { content: "\e6fa"; }

.icon-shangjiantou:before { content: "\e618"; }

.icon-tianmao:before { content: "\e634"; }

.icon-daochu:before { content: "\e602"; }

.icon-dangan:before { content: "\e655"; }

.icon-zyanshou:before { content: "\e650"; }

.icon-peixun1:before { content: "\e660"; }

.icon-zhiliang:before { content: "\e88b"; }

.icon-querendingdan:before { content: "\e674"; }

.icon-xiaoshouguanli:before { content: "\e694"; }

.icon-zhuancang:before { content: "\e635"; }

.icon-buhege:before { content: "\e7da"; }

.icon-zhongyao:before { content: "\e66a"; }

.icon-caigouguanli:before { content: "\e632"; }

.icon-duizhangmingxi:before { content: "\e64d"; }

.icon-kucunguanli:before { content: "\e609"; }

.icon-shouyin:before { content: "\e66e"; }

.icon-xiaoshoubb:before { content: "\e676"; }

.icon-xianjin:before { content: "\e8a6"; }

.icon-panyingruku:before { content: "\e60c"; }

.icon-panyingchuku:before { content: "\e621"; }

.icon-shangjia:before { content: "\e68b"; }

.icon-pandian:before { content: "\e717"; }

.icon-chailing:before { content: "\e733"; }

.icon-jichuziliao:before { content: "\e608"; }

.icon-dayinblock:before { content: "\e642"; }

.icon-shebaojiekou:before { content: "\e673"; }

.icon-cgyanshou:before { content: "\e7e4"; }

.icon-shenhe2:before { content: "\e644"; }

.icon-shangpin:before { content: "\e641"; }

.icon-caigoushouhuo:before { content: "\e628"; }

.icon-yibao:before { content: "\e669"; }

.icon-sbuse:before { content: "\e662"; }

.icon-gongyingshangshenpi:before { content: "\e62a"; }

.icon-zyaopin:before { content: "\e663"; }

.icon-taizhang:before { content: "\e652"; }

.icon-dingdanguanli:before { content: "\e653"; }

.icon-ychailing:before { content: "\e654"; }

.icon-yinlian:before { content: "\e66d"; }

.icon-shebei1:before { content: "\e680"; }

.icon-jilu3:before { content: "\e681"; }

.icon-dengji1:before { content: "\e682"; }

.icon-jushou:before { content: "\e685"; }

/*权限*/
.icon-quanxian:before { content: "\e71"; }