<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzy.mall.sale.mapper.MallSysCategoryCodeMapper">

    <select id="selectOnlineSaleDrug" resultType="java.util.Map">
        SELECT codeValue,codeName FROM sysCategoryCode WHERE codetype='drugCategory' AND codeValue IN (SELECT DISTINCT propertyId FROM baseProduct WHERE  storeId=#{storeId}) 
    </select>
</mapper>
