[v-cloak]{display:none!important;}

/* element-ui */
.el-dialog__wrapper {
	background: #fff;
}


#mapStoreList{width:100%;height:100vh;overflow:hidden;}

/* 瀹革缚鏅� */
.map_left{width:285px;height:100%;overflow:hidden;background-color:#008fe9;color:#ffffff;}
.map_left_title{width:100%;height:65px;line-height:65px;font-size:18px;
	font-weight:600;text-align:center;
	background:url(../../../../statics/images/map-title.png) no-repeat center;background-size:250px auto;
}
.map_left_rank{font-size:14px;font-weight:600;padding:0 10px;height:18px;}
.map_left_rank_egs{font-size:12px;font-weight:300;padding:0 10px;height:14px;}

.map_left_inner{width:100%;height:calc(100vh - 97px);padding:23px 16px;
	background:url(../../../../statics/images/map_left_inner.png) no-repeat center;background-size:275px calc(100vh - 105px);
}
.map_left_inner_top{padding:10px;font-size:15px;font-weight:600;height:40px;}
.mCustomScrollbar{height:calc(100% - 40px);overflow-y:auto;}
.map_left_inner_list{padding:10px;width:100%;height:calc(100% - 40px);}
.map_left_inner_cell{width:100%;height:30px;margin-bottom:6px;line-height:30px;padding:0 8px;
	background:url(../../../../statics/images/map_left_inner_cell.png) no-repeat center;cursor:pointer;
}
.map_left_inner_cell span{display:inline-block;font-size:13px;}
.map_left_inner_cell span.sort{width:20px;}
.map_left_inner_cell span.name{font-weight:600;width:calc(100% - 100px);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.map_left_inner_cell span.sale{width:80px;}

.map_left_inner_search{padding:10px;}


/* 閸欏厖鏅� */
.map_right{width:calc(100% - 285px);height:100%;position:relative;z-index:1;}
.map_right_areaScreen{position:absolute;top:20px;left:30px;
	box-shadow:1px 2px 1px rgba(0,0,0,.15);z-index:10;
}
.map_right_areaScreen_cell{display:inline-block;float:left;background:#ffffff;border-radius:3px;
	font-size:13px;height:30px;padding:0 10px;position:relative;width:auto;
}
.map_right_areaScreen_cell + .map_right_areaScreen_cell{margin-left:6px;padding:0px;}
.map_right_areaScreen_cell >input{padding:0 10px;width:160px;}
.map_right_areaScreen_cell >button{background:#008fe9;color:#ffffff;}
.map_right_areaScreen_cell >input,
.map_right_areaScreen_cell >input:active,
.map_right_areaScreen_cell >input:focus,
.map_right_areaScreen_cell >button,
.map_right_areaScreen_cell >button:active,
.map_right_areaScreen_cell >button:focus{height:30px;border:none;box-shadow:none;outline:none;font-size:13px;}


.map_right_areaScreen span{display:inline-block;color:#4c4c4c;width:65px;line-height:30px;}

.map_right_areaScreen span.locationCityName{cursor:pointer;white-space:nowrap;
	overflow:hidden;padding-right:20px;}
.map_right_areaScreen span.locationCityName i{display:inline-block;width:16px;height:16px;
	position:absolute;top:50%;right:5px;margin-top:-8px;line-height:16px;
}

/* 閸╁骸绔跺Ο鈩冿拷浣诡攱 */
.city_model{width:300px;min-height:320px;background:#ffffff;position:absolute;top:70px;display:none;
	left:0px;opacity:0;z-index:-1;box-shadow:1px 2px 1px rgba(0,0,0,.15);padding:0 10px;
}
.city_model_locationCity{border-bottom:1px solid #e0e0e0;height:35px;line-height:35px;}
.city_model_omit{margin:10px 0;border-bottom:1px solid #e0e0e0;}
.city_model_omit + .city_model_omit{border:none;}
.city_model_omit>ul>li>a{font-size:12px;color:#3d6dcc;}
.city_model_omit>ul>li>a:hover,.city_model_omit>ul>li>a:active,.city_model_omit>ul>li>a.active{text-decoration:underline}




/*閸斻劍锟戒焦鍧婇崝鐘崇叀鐠囥垽娉﹂崶锟�/闂傘劌绨祄odel */
.selectStoreModel{min-width:160px;min-height:100px;background:#ffffff;z-index:10;position:absolute;top:50px;left:0px;
	box-shadow:1px 2px 1px rgba(0,0,0,.15);opacity:0;display:none;
}
.selectStoreModel .data-loading{margin-top:30px;}
.selectStoreModel_list{padding:10px 0;overflow-y:auto;max-height:200px;}
.selectStoreModel_list>li{padding:0 15px;width:100%;font-size:13px;height:26px;line-height:26px;cursor:pointer;
	overflow:hidden;white-space:nowrap;
}
.selectStoreModel_list>li:hover{background:#f0f0f0;}







