<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzy.xiaomi.video.mapper.VideoInfoMapper">

	<!--查询  -->
	<select id="selectVideoInfo" resultType="com.sdzy.xiaomi.video.model.VideoInfo">
		select * from videoInfo  where status=1 
	</select>
	
	<update id="deleteVideoById" parameterType="string" >
		UPDATE videoInfo
        SET status = 0        
   			 WHERE videoId IN 
   	    <foreach collection="videoId" item="videoId" index="no" open="("
				separator="," close=")">
			#{videoId}
		</foreach>		
	</update>
</mapper>
